.closeWorksContainer {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  z-index: 100;
  opacity: 0;
  animation: fade 1s forwards;
  animation-delay: 3s;
}

.closeWorksText {
  color: #fff;
  font-family: 'Aeonik-light';
}

.closeWorksButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.closeWorksButton.hovered {
  background-color: #fff;
}

.closeWorksText.hovered {
  font-weight: bold;
}

.closeIcon {
  color: #fff;
  width: 0.7rem;
  height: 0.7rem;
}

.closeIcon.hovered {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .closeWorksContainer {
    top: 1.5rem;
    right: 1rem;
  }

  .closeWorksText {
    display: none;
  }

  .closeWorksButton {
    height: 1.3rem;
    width: 1.3rem;
  }

  .closeIcon {
    width: 0.9rem;
    height: 0.9rem;
  }
}
