<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div style="background-color: #f3f4f6">
    <div style="margin: 0px auto; max-width: 600px">
      <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  padding-top: 40px;
                  text-align: center;
                "></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="
          margin: 0px auto;
          max-width: 600px;
          border-radius: 8px;
          border: 1px solid #e5e7eb;
          padding: 2px;
          background-color: #ffffff;
        ">
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            margin-top: 20px;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 0;
                    text-align: center;
                    border: 0;
                  ">
                <div class="m_2078036772800502365mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              padding-top: 24px;
                              padding-bottom: 0;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 24px;
                                text-align: center;
                                color: #111827;
                              ">
                            Successful registration
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                text-align: center;
                                color: #4b5563;
                              ">
                            our team will contact you soon to schedule a demo session.
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 15px 0px 0 0px;
                    text-align: center;
                    border: 0;
                  ">
                <div class="m_2078036772800502365mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              padding-bottom: 15px;
                              word-break: break-word;
                            ">
                          <p style="
                                border-top: solid 1px #e1e1e1;
                                font-size: 1px;
                                margin: 0px auto;
                                width: 100%;
                              "></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    direction: ltr;
                    font-size: 0;
                    padding: 0;
                    text-align: center;
                  ">
                <div class="m_2078036772800502365mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="left" style="
                              font-size: 0;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 1;
                                text-align: left;
                                color: #101010;
                              ">
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">Dear <%= Fname %> <%=Lname %></p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                Thank you for signing up for a free demo meeting with Atostudio. We are excited to have the opportunity to show you how our solutions can benefit your business.
                              </p>
                              </p>
                            </div>
                            <div>
                              <div>
                                <p style="
                                      color: rgb(16, 16, 16);
                                      font-weight: 400;
                                      line-height: 0px;
                                      white-space: pre-wrap;
                                    ">
                                <p>We are pleased to confirm that your registration has been successful and that we will contact you soon to coordinate the meeting details. Expect to receive an email from one of our representatives in the next few days to schedule a date and time that best suits you.
                                </p>

                                </p>
                              </div>
                            </div>
                            <div>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                    white-space: pre-wrap;
                                  "></p>
                              <div style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                                <p>
                                  In the meantime, if you have any questions or need additional information, please don't hesitate to contact us.
                                </p>
                              </div>
                            </div>
                            <div>
                              <p style="
                                    color: #101010;
                                    font-weight: 200;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                Thank you again for your interest in Atostudio. We look forward to a productive and satisfying conversation during our demo meeting.
                              </p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                Kind greetings
                              </p>
                            </div>
                            <div>
                              <ul style="
                                  text-decoration: none;
                                  list-style: none;
                                  ">
                                <li>
                                  <p style="color: rgb(16, 16, 16)">
                                    Sebastian Pulido
                                  </p>
                                </li>
                                <li>
                                  <p style="color: rgb(16, 16, 16)">
                                    Creative Director
                                  </p>
                                </li>
                                <li>
                                  <p style="color: rgb(16, 16, 16)">
                                    Atostudio
                                  </p>
                                </li>
                                <li>
                                  <p style="color: rgb(16, 16, 16)">
                                    <a style="
                                  text-decoration: none;
                                  list-style: none;
                                  color: #101010;
                                  " href="mailto:DIRECTORDEMARKETING@ATOSTUDIO.CO">
                                      DIRECTORDEMARKETING@ATOSTUDIO.CO
                                    </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 15px 0px 0 0px;
                    text-align: center;
                    border: 0;
                  ">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div style="margin: 0px auto; max-width: 600px">
      <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  text-align: center;
                ">
              <div class="m_2078036772800502365mj-column-per-100" style="
                    font-size: 0px;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                  ">
                <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="
                            font-size: 0px;
                            padding: 10px 25px;
                            padding-top: 32px;
                            word-break: break-word;
                          ">

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>