.zds-container {
  width: 100%;
  box-sizing: border-box;
  padding: 8vh 2.5vw 0 3.2vw;
  position: relative;

  & .animation-pages {
    overflow: hidden;
    /* background-color: aqua; */
    width: 32%;
    margin: 0 auto;
  }

  & .slide-pages {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .zds-image-container {
    max-height: 80vh;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: expand 2s forwards;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .animation-pages.animation {
    width: 100%;
    height: 78vh;
    animation: reduce 2s forwards;
    animation-delay: 1s;
  }

  & .title-work-page {
    font-size: 5vw;
    color: #fff;
    font-family: 'Aeonik';
    text-align: center;
    margin: 0;
    margin-top: 1vh;
  }

  & .scroll-text-works {
    font-size: 1vw;
    color: #fff;
    font-family: 'Aeonik-light';
    text-align: center;
    margin: 0;
    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 3s;
  }
}

.zds-description {
  margin-top: 2vh;
  padding: 4% 8% 4% 8%;

  & .description-text {
    font-size: 3.1rem;
    color: #fff;
    font-family: 'Aeonik';
    font-weight: 600;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 10vh;
  }

  & .grid-zds {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1px;
    background-color: #fff;

    & .grid-item-zds {
      background-color: #0c0c0c;
      color: #fff;

      & p {
        font-family: 'Aeonik-light';
      }
    }

    & .grid-item-zds.button {
      & div {
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        height: min-content;
        margin-top: 10px;
        gap: 8px;

        & p {
          margin: 0;
        }

        & button {
          width: 30px;
          height: 30px;
          color: #fff;
          border: 1px solid #fff;
          background-color: transparent;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }
    }

    & .grid-item-zds.up {
      display: flex;
      align-items: flex-end;

      & p {
        margin: 0;
        font-family: 'Aeonik-Bold';
        font-size: 1.3rem;
        margin: 0 0 7px 0;
      }
    }
  }
}

.zds-section-1 {
  padding: 0 8% 0 8%;
  margin-top: 10vh;

  & p {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Aeonik-light';
    margin: 0;
    width: 38%;
  }

  & .image-1-zds {
    margin-top: 20vh;
    display: flex;
    justify-content: flex-end;

    gap: 2vw;

    & div {
      width: 27%;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & .image-2-zds {
    margin-top: 20vh;
    display: flex;
    justify-content: start;
    align-items: center;

    & div {
      width: 65%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

#image-zds-3 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .zds-container {
    padding: 8vh 6vw 0 6vw;

    & .animation-pages {
      width: 100%;
      margin-top: 0;
    }

    & .zds-image-container {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: reduce-image 2s forwards;
      animation-delay: 1s;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .animation-pages.animation {
      width: 100%;
      height: 78vh;
      animation: reduce 2s forwards;
      margin-top: 6vh;
      animation-delay: 1s;
    }

    & .title-work-page {
      font-size: 2rem;
      color: #fff;
      font-family: 'Aeonik';
      text-align: center;
      margin: 0;
      margin-bottom: 0;
      margin-top: 1vh;
    }

    & .scroll-text-works {
      font-size: 1rem;
      color: #fff;
      font-family: 'Aeonik-light';
      text-align: center;
      margin: 0;
      margin-top: 2vh;
      opacity: 0;
      animation: fade 1s forwards;
      animation-delay: 3s;
    }
  }

  .container-prevbutton-pages.mobile,
  .container-nextbutton-pages.mobile {
    top: 90%;
    z-index: 100;

    & .prevbutton-pages,
    .nextbutton-pages {
      width: 30px;
      height: 30px;
    }

    & p {
      font-size: 14px;
    }
  }

  .container-nextbutton-pages.mobile {
    right: 4vw;
  }

  .container-prevbutton-pages.mobile {
    left: 4vw;
  }

  .zds-description {
    margin-top: 2vh;
    padding: 4% 6vw;

    & .description-text {
      font-size: 1.5rem;
      color: #fff;
      font-family: 'Aeonik';
      font-weight: normal;
      margin: 0 auto;
      width: fit-content;
      margin-bottom: 0;
    }

    & .grid-zds {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1px;
      background-color: #fff;
      max-height: 36vh;

      & .grid-item-zds {
        background-color: #0c0c0c;
        color: #fff;

        & p {
          font-size: 9px;
        }
      }

      & .grid-item-zds.up p {
        font-size: 1rem;
      }
    }
  }

  .zds-section-1 {
    margin-top: 5vh;
    padding: 0 6vw;
    display: flex;
    flex-direction: column;

    & #zds-1 {
      order: 1;
      display: none;
    }

    & #zds-2 {
      order: 0;
    }

    & #zds-3 {
      order: 2;
    }

    .image-1-zds {
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2vw;

      & #image-zds-1 {
        order: 3;
      }

      & #image-zds-2 {
        order: 1;
      }

      & #image-zds-3 {
        order: 2;
        display: block;

        & p {
          font-size: 1rem;
          color: #fff;
          font-family: 'Aeonik-light';
          margin: 0;
          width: 100%;
        }
      }

      & #image-zds-4 {
        order: 0;
      }

      & div {
        width: 100%;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .image-2-zds {
      /* padding: 0 8% 0 8%; */
      margin-top: 5vh;

      & div {
        width: 100%;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
